<!DOCTYPE html>
<html>
<head>
  <title>お小遣い帳オンライン</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">

</head>
<body>

<%= yield %>

</body>
</html>
